@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.opening-anim {
  animation: opening-keyframe 1s ease;
}

.scroll-text-anim {
  animation: scroll-text-keyframe 16s infinite linear;
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@keyframes opening-keyframe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroll-text-keyframe {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
